.clearfix {
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    background-color: #181818;
}

/* CSS Styles for Sidebar and Main Content */
.sidebar {
    float: left;
    width: 200px; /* Adjust width as needed */
    padding: 20px;
    background-color: #181818;
    margin-left: 450px;
}

main {
    margin-left: 240px; /* Adjust margin to accommodate sidebar width and space */
    padding: 20px;
    overflow: hidden; /* Ensure proper clearing */
}

/* Clearing after the main content */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none; /* Remove underline */
    font-family: 'Montserrat', sans-serif;
    color: inherit;
    margin-bottom: 10px; /* Add some space between links */
    margin-left: 24px;
    margin-right: 15px;
}

.nav-links img{
    margin-top: 20px;
    width:40px;
    filter: invert(1);
    margin-bottom: 60px;
}

#user-id{
    color:rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#post-id{
    color:#181818;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.sidebar button{
    padding: auto;
    width: 220px;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin-left: 17px;
}


.word-links a{
    text-decoration: none;
    margin-left: 25px;
}


.logo img {
    width: 125%; /* Adjust the width according to your design */
    height: auto; /* Maintain aspect ratio */
    max-height: 125%; /* Maximum height to ensure consistency */
}

.post {
    border-bottom: 1px solid #ffffff;
    padding: 50px 0;
    margin-bottom: 0px;
    max-width: 500px;
    margin-left: 100px;
    /* Reset other styles */
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

.post p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    max-width: 100%;
    word-wrap: break-word;
}

.post h2{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    max-width: 100%;
    word-wrap: break-word;
}


.post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

        /* Style for the modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        /* Modal content */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            border-radius: 5px;
        }

        .modal-content label{
            font-size: 22px;
            font-family: 'Montserrat', sans-serif;
        }

        .modal-content input{
            width: 500px;
            height: 30px;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #181818;
            color: white;
            padding: 10px 20px;
            border: 2px solid black;
            border-radius: 5px;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
            font-size: 18px;
            height: 70px;
            width: 510px;
        }
    
        /* Hover effect for the submit button */
        input[type="submit"]:hover {
            background-color: #ffffff;
            color: black;
        }

        /* Close button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

/* Styling for the like button */
.post button[type="submit"] {
    background-color: white; /* Change to your preferred color */
    color: #000000; /* Text color */
    border: none;
    border-radius: 3px;
    padding: 10px 15px; /* Adjust padding as needed */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    
}

.post button[type="submit"]:hover {
    color: white;
    background-color: #181818; /* Change to your preferred hover color */
    border: 1px solid white;
}

/* Styling for the number of likes */
.post p.likes {
    font-size: 14px;
    color: white; /* Text color */
    margin-top: 5px; /* Adjust margin as needed */
    font-family: 'Montserrat', sans-serif;
}

.post button.liked {
    color: white;
    background-color: #181818; /* Change to your preferred color */
    border: 1px solid white;
}
  