.clearfix {
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* CSS Styles for Sidebar and Main Content */
.sidebar {
    float: left;
    width: 200px; /* Adjust width as needed */
    background-color: #f2f2f2;
    padding: 20px;
}

main {
    margin-left: 240px; /* Adjust margin to accommodate sidebar width and space */
    padding: 20px;
    overflow: hidden; /* Ensure proper clearing */
}

/* Clearing after the main content */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.header {
    background-color: #ffffff;
    color: #fff;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form {  
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-grow: 1; /* Allow the search form to grow to fill the space */
}

.search-input {
    padding: 1.2vh; /* Adjust padding using viewport units */
    border: solid;
    height: 2vw;
    border-width: 1px;
    border-radius: 5px 0 0 5px;
    width: 44vw; /* Adjust width using viewport units */
    max-width: 80%; /* Limit maximum width */
}

/* Style placeholder text */
.search-input::placeholder {
    color: #999; /* Set the color of the placeholder text */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
}

.search-button {
    padding: 1vh 2vw; /* Adjust padding using viewport units */
    background-color: #ffffff;
    height: 62px;
    border: solid;
    border-width: 1px;
    border-radius: 0 5px 5px 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
    min-width: 4vh; /* Adjust minimum width using viewport units */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
}

.search-button img{
    width: 1.2vw;
    height: auto;
    transition: transform 0.3s ease;
}


.search-button:hover img {
    transform: scale(1.1);
}


.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none; /* Remove underline */
    font-family: 'Montserrat', sans-serif;
    color: inherit;
}

.nav-links img {
    text-align: center;
    margin-right: 55px;
    margin-top: 5px;
    max-height: 3vh; /* Adjust icon height using viewport units */
}

.nav-links h2{
    margin-top: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    margin-right: 15px;
    margin-left: 20px;
}

#user-id{
    color:black;
    font-size: 18px;
}

#balance-value{
    font-size: 18px;
    margin-right: 20px;
}

.logo img {
    width: 250px; /* Adjust the width according to your design */
    height: auto; /* Maintain aspect ratio */
    max-height: 250px; /* Maximum height to ensure consistency */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.box-items {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
}

.image-container {
    width: 100%;
    height: 350px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    background-color: transparent; /* Set background color to transparent */
}

.image-container img {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.05);
}

.box-items-content {
    padding: 1px;
    flex-grow: 1; 
}


.box-items h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    margin: 0 auto; /* Center horizontally */
    display: block; /* Make it a block element to center */
}

.box-items p {
    font-size: 1rem;
    color: #ee680f;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: center; /* Center text */
    margin: 5 auto; /* Center horizontally */
    margin-bottom: 10px;
    display: block; /* Make it a block element to center */
}

.add-to-cart-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 11px 21px;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center; /* Center text */
    margin: 0 auto; /* Center horizontally */
    display: block; /* Make it a block element to center */
}

.add-to-cart-btn:hover {
    background-color: #333;
}

.sidebar {
    background-color: #ffffff;
}

.filter-form h2 {
    font-size: 22px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
}

.filter-form label {
    font-size: 14px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
    display: block;
}

.filter-form select {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: #fff;
}

.filter-form button {
    background-color: #000000;
    width: 100%;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-form button:hover {
    background-color: #1b1b1b;
    width: 100%;
}

.sort-form {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sort-select {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.sort-button:hover {
    background-color: #292929;
}


/* CSS Styles for view_cart.php */

.view_cart-button{
    display: flex;
    background: white;    
    border: 0px;
}

.view_cart-button-bottom{
    border:3px solid black;
    background-color:white;
    color:black;
    font-size:20px;
    font-family: 'Open Sans', sans-serif;  
    padding: 10px 20px;
    margin: 0;
    max-height: 53px;
}

        .view_cart-button-bottom:hover{
            border:3px solid black;
            border-color:black;
            background-color:black;
            color:white; 
        }

        .view_cart-bottom{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap:20px;
        }

        .view_cart{
            display: flex;
            font-family: 'Open Sans', sans-serif;  
            font-size: 15px;      
            line-height: 1.4;
            flex-direction: column; 
            align-items: center;
        }

        .cart-item-holder{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px;
            width: 40%;  
        }

        .cart-item-details{
            display:flex;
            flex: 1;
            flex-direction:column;
            margin-right: 20px;
        }

        .cart-item-name{
            display: flex;
            flex-direction: row;
            text-align: left;
            font-weight: bold;
            font-size: 20px;    
        }
        
        .cart-item-placeholder{
            display:block;
            flex-direction:row;
            text-align: left;
            line-height: 1.2;
        }

        .cart-item-delete{
            display:block;
            flex-direction:row;
            text-align: right;
            margin-left: 17px; 
            margin-top: 12px;
            line-height: 1.2;
            margin-bottom:20px;
        }

        .cart-image-holder{
            display: flex;
            flex-direction: column;
            margin-right: 20px; 
        }

        .view_cart-top{
            display: flex;
            font-family: 'Open Sans', sans-serif;  
            font-weight: bold;
            font-size: 30px;
            text-align: center; 
            justify-content: center;
            flex-direction: column;
            margin-bottom: 50px;
        }

        .view_cart-amountitems{
            display: flex;
            padding:5px;
            font-size:15px;
            text-align: center; 
            justify-content: center;
        }

        .view_cart-editquantity{
            display: flex;
            height: 50px;
            min-width: 80px;
            border: 2px solid black;
            align-items: center;
            justify-content: center;
        }

        .view_cart-minusplus{
            width: 100%;
            background:white;
            border: white;
            font-size: 20px; 
        }

        .view_cart-editquantity span.count{
            font-size:20px;
        } 

        .total-price-item{
            display: flex;
            text-align: right;
            font-size:20px;
            margin-left:40px;
            margin-bottom:20px;
            min-width:100px;
            align-items: center;
            justify-content: center;
        }

        .view_cart-subtotal{
            justify-content: left;
            flex-direction:column;
            font-size:30px;
            padding-left: 20px;
	    padding-bottom:20px;
        }

        .link-design-view_cart{
            text-decoration: none;
            color: inherit;
            margin: 0;
        }

	.view_cart-search-input{
	padding: 1.2vh; /* Adjust padding using viewport units */
 	border: solid;
  	height: 3.3vw;
  	border-width: 1px;
   	border-radius: 5px 0 0 5px;
   	width: 44vw; /* Adjust width using viewport units */
    	max-width: 80%; /* Limit maximum width */
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
}

    .view_cart-bottom-no-items{
        font-size:30px; 
        padding-bottom:30px;
    }

/* CSS for the seller_deleteitem.php file */

.delete_interface{
    display: flex;
    flex-direction:column;
    font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	border-radius:20px;
	padding:20px;
	box-shadow: 2px 2px 5px 3px black;
	margin:10px;
	border:0px solid black;
	max-width: 1000px;
    justify-content:center;
    align-items:center;
}

.delete_interface-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-top:10px;
    font-size: 20px;
    max-width:1000px;
    
}

.delete_interface-card{
    width:165px;
    height:300px;
    padding:30px;
    box-shadow: 2px 2px 5px 3px black;
    border-radius:20px;
    margin-left:20px;
    margin-top:20px;
    display:flex;
    flex-direction:column;
    
}

.delete_interface-image{
    max-width:300px;
    max-height:300px;
    flex-direction:column;
}

.delete_interface-name{
    flex-direction: column;
    padding-top:10px;
    font-size:20px;
}

.delete_interface-size{
    flex-direction: column;
    font-size:13px;
}
.delete_interface-price{
    flex-direction: column;
    font-size:13px;
    height:95px;
}

.delete_interface-delbutton{
    border-radius: 20px 20px 20px 20px;
    padding:20px;
    display:flex;
    border:3px solid black;
    background:black;
    color:white;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
}

.delete_interface-delbutton:hover{
    border:3px solid black;
    background:white;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
}

.delete_interface-bottom{
    padding:20px;
}

.delete_interface-regbutton{
    text-decoration: none;
    padding:20px;
    padding-top:20px;
    display:flex;
    border:3px solid black;
    background:black;
    color:white;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    width: 300px;
    height: 40px;
    justify-content: center; 
    align-items: center;
}

.delete_interface-regbutton:hover{
    border:3px solid black;
    background:white;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
}

/* CSS for the seller_edit_item.php file */

.edit_item_initial-interface{
    display: flex;
    flex-direction:column;
    font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	border-radius:20px;
	padding:20px;
	box-shadow: 2px 2px 5px 3px black;
	margin:10px;
	border:0px solid black;
	max-width: 1000px;
    justify-content:center;
    align-items:center;
}

.edit_item_initial-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-top:10px;
    font-size: 20px;
    max-width:1000px;
}

.edit_item_initial_interface-card{
    width:165px;
    height:300px;
    padding:30px;
    box-shadow: 2px 2px 5px 3px black;
    border-radius:20px;
    margin-left:20px;
    margin-top:20px;
    display:flex;
    flex-direction:column;
    
}

.edit_item_initial_interface-image{
    max-width:300px;
    max-height:300px;
    flex-direction:column;
}

.edit_item_initial_interface-name{
    flex-direction: column;
    padding-top:10px;
    font-size:20px;
}

.edit_item_initial_interface-size{
    flex-direction: column;
    font-size:13px;
}
.edit_item_initial_interface-price{
    flex-direction: column;
    font-size:13px;
    height:95px;
}

.edit_item_initial_interface-delbutton{
    border-radius: 20px 20px 20px 20px;
    padding:20px;
    display:flex;
    border:3px solid black;
    background:black;
    color:white;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
}

.edit_item_initial_interface-delbutton:hover{
    border:3px solid black;
    background:white;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    
}

.edit_item_initial_interface-bottom{
    padding:20px;
}

.edit_item_initial_interface-regbutton{
    text-decoration: none;
    padding:20px;
    padding-top:20px;
    display:flex;
    border:3px solid black;
    background:black;
    color:white;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    width: 300px;
    height: 40px;
    justify-content: center; 
    align-items: center;
}

.edit_item_initial_interface-regbutton:hover{
    border:3px solid black;
    background:white;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
}

/* CSS for the seller_edit_item_actual.php file */
/*NOTE: eia = edit_item_actual*/
.eia-interface{
    display: flex;
    flex-direction:column;
    font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	border-radius:20px;
	padding:20px;
	box-shadow: 2px 2px 5px 3px black;
	margin:10px;
	border:0px solid black;
	max-width: 1000px;
    justify-content:center;
}

.eia-title{
    align-items:center;
    font-size: 35px;
}
.eia-form{
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    align-items:start;
}

.eia-form-group{
    display:flex;
    flex-direction:column;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    align-items:start;
}

.eia-form-group label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.eia-form-group input[type="text"],
.eia-form-group input[type="number"],

.eia-form-group textarea {
            padding: 0.5rem;
            font-size: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width:500px;
}

.eia-form-group textarea {
            height: 120px;
            width: 800px;
            resize: vertical;
            font-family: 'Montserrat', sans-serif;

}

.eia-submit{
    padding:20px;
    display:flex;
    border:3px solid black;
    background:black;
    color:white;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    width: 200px;
    height: 100%;
    justify-content: center; 
    align-items: center;
}

.eia-submit{
    padding:20px;
    display:flex;
    border:3px solid black;
    background:black;
    color:white;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    width: 600px;
    height: 100%;
    justify-content: center; 
    align-items: center;
    transition-duration:0.5s;
}

.eia-submit:hover{
    border:3px solid black;
    background:white;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    transition-duration:0.5s;
}

.eia-regbutton{
    text-decoration: none;
    padding:20px;
    padding-top:20px;
    display:flex;
    border:3px solid black;
    background:black;
    color:white;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    width: 200px;
    height: 100%;
    justify-content: center; 
    align-items: center;
    transition-duration:0.5s;
}

.eia-regbutton:hover{
    border:3px solid black;
    background:white;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    transition-duration:0.5s;
}

.eia-bottom{
    padding:20px;
}

/*CSS for seller_edit_combo
ec = edit combo*/
.ec_initial-interface{
    display: flex;
    flex-direction:column;
    font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	border-radius:20px;
	padding:20px;
	box-shadow: 2px 2px 5px 3px black;
	margin:10px;
	border:0px solid black;
	max-width: 1000px;
    justify-content:center;
    align-items:center;
}

.ec_initial-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-top:10px;
    font-size: 20px;
    max-width:1000px;
}

.ec_initial_interface-card{
    width:165px;
    height:300px;
    padding:30px;
    box-shadow: 2px 2px 5px 3px black;
    border-radius:20px;
    margin-left:20px;
    margin-top:20px;
    display:flex;
    flex-direction:column;
    
}

.ec_initial_interface-image{
    max-width:300px;
    max-height:300px;
    flex-direction:column;
}

.ec_initial_interface-name{
    flex-direction: column;
    padding-top:10px;
    font-size:20px;
}

.ec_initial_interface-size{
    flex-direction: column;
    font-size:13px;
}
.ec_initial_interface-price{
    flex-direction: column;
    font-size:13px;
    height:95px;
}

.ec_initial_interface-delbutton{
    border-radius: 20px 20px 20px 20px;
    padding:20px;
    display:flex;
    border:3px solid black;
    background:black;
    color:white;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
}

.ec_initial_interface-delbutton:hover{
    border:3px solid black;
    background:white;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    
}

.ec_initial_interface-bottom{
    padding:20px;
}

.ec_initial_interface-regbutton{
    text-decoration: none;
    padding:20px;
    padding-top:20px;
    display:flex;
    border:3px solid black;
    background:black;
    color:white;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
    width: 300px;
    height: 40px;
    justify-content: center; 
    align-items: center;
}

.ec_interface-regbutton:hover{
    border:3px solid black;
    background:white;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;  
}